
$backgroundNav: #0D0C0D;
$backgroundSideNav: #080708;

$border: #707070;


$backgroundMain: #121113;
$titleMain: #FFFFFF;
$placeholderMain: #B2A7A7;


$primary: #F26430;
$secondary: #212D40;
$tertiary: #E8E9EB;


$correct: #7EA172;
$incorrect: #69140E;
