@import "src/assets/scss/colors";
@import "src/assets/scss/auth";
@import "src/assets/scss/forms";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
*{
  color: white;
}
.loginPage{
  @include authPage;
  h1{
    @include title;
  }
  .loginForm{
    @include form;
    .errorMessage{
      @include errorMessage
    }
    label{
      @include label;
    }
    .form-control{
      @include formControl
    }
    button{
     @include submitButton;
    }
  }
  .register{
    text-align: center;
    margin-top: 10px;
  }
}

@include media-breakpoint-up(sm) {
  .loginPage{
    h1{
      text-align: center;
      padding-left: 0;
      font-size: 40px;
    }
    .loginForm{
      margin-top: 20px;
      .errorMessage{
        font-size: 22px;
      }
      label{
        font-size: 1.4em;
        padding-left: 68px;
      }
      .form-control{
        &::placeholder{
          font-size: 1.3em;
        }
      }
      button{
        margin-top: 30px;
        font-size: 25px;
      }
    }
    .register{
      margin-top: 30px;
      font-size: 1.3em;
    }
  }
}
@include media-breakpoint-up(md) {
  .loginPage{
    h1{
      font-size: 45px;
      letter-spacing: 2px;
    }
    .loginForm{
      label{
        font-size: 1.6em;
        padding-left: 90px;
      }
      .form-control{
        &::placeholder{
          font-size: 1.4em;
        }
      }
      button{
        letter-spacing: 2px;
        font-size: 28px;
      }
    }
    .register{
      font-size: 1.5em;
    }
  }
}
@include media-breakpoint-up(lg) {
  .loginPage{
    .loginForm{
      label{
        padding-left: 120px;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .loginPage{
    .loginForm{
      label{
        padding-left: 140px;
      }
    }
  }
}
